@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400&&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap");
@import url("https://use.typekit.net/wji0bht.css");
* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  margin-bottom: 137px;
}

p {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
}

a.logo {
  padding-top: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
a.logo {
  font-size: 1.875rem;
  line-height: 30px;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #95e1d3;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
}

.flex-container-row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.right-menu {
  width: 500px;
}
nav ul {
  width: 500px;
  height: 50px;
}
nav ul li {
  margin-right: 40px;
}

nav ul li a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #95e1d3;
  padding-top: 36px;
}

h2,
h2 span {
  width: 315px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h2 span {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  text-transform: none;
}

h2:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-bottom: 50px;
  margin-top: 45px;
}
nav ul li a::after {
  position: absolute;
  margin-top: 12px;
  /* position: abosolute; */
  display: block;
  width: 100%;
  height: 3px;
  content: "";
  background-color: rgb(243, 129, 129);
  visibility: hidden;
}

nav ul li a:hover {
  color: #f38181;
}
nav ul li:hover a::after {
  visibility: visible;
}
nav ul li:last-child {
  margin-right: 0px;
}

/* SERVICES */
.our-services h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 17px;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.our-services p {
  max-width: 290px;
}
ul.our-services li {
  width: 400px;
  margin-bottom: 100px;
}
.our-services img {
  margin-right: 30px;
}
.our-team h4 {
  margin-bottom: 17px;
}
.our-team p {
  margin-bottom: 81.5px;
  text-align: center;
}

.our-team ul li {
  display: inline-block;
  width: 380px;
}

.our-team h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.our-team ul li p {
  text-align: middle;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.our-team ul {
  font-size: 0;
}
.our-team ul li {
  margin-right: 30px;
}
.our-team ul li:last-child {
  margin-right: 0;
}

.person-image {
  display: block;
  margin-bottom: 31px;
  position: relative;
}

.person-image-gradient {
  background-image: -moz-linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );

  width: 100%;
  height: 100%;
  z-index: 3000;
  visibility: hidden;
  position: absolute;
}

.person-overlay {
  top: 0;
  left: 0;
  background-color: #95e1d3;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
}

.person-image:hover .person-overlay {
  visibility: visible;
}
.person-image:hover .person-image-gradient {
  transform: translate(-10px, -10px);
  visibility: visible;
}
.person-image:hover .person-img {
  transform: translate(-10px, -10px);
}
.person-img {
  z-index: 1;

  position: absolute;
}
.person-image {
  position: relative;
  width: 380px;
  height: 470px;
}

.icons-wrap {
  z-index: 10000;
  position: absolute;
  left: 78px;
  top: 207px;
  width: 224px;
  height: 56px;
  background-color: #fce38a;
}

.icons-wrap button {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-right-color: #f38181;
  cursor: pointer;
}
.icons-wrap button:hover {
  background-color: #95e1d3;
}

.icons-wrap button:last-child {
  border-right-color: transparent;
}

.icon-facebook {
  background-image: url("../img/social/facebook.png");
}

.icon-twitter {
  background-image: url("../img/social/twitter.png");
}
.icon-pinterest {
  background-image: url("../img/social/pinterest.png");
}
.icon-instagram {
  background-image: url("../img/social/instagram.png");
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  height: 63px;
  border-top: 2px solid #e5e5e5;
}

footer form {
  height: 40px;
}
footer form input[type="text"] {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  padding-left: 13px;
}
footer form input[type="text"]:focus {
  outline: none;
}

footer form input[type="text"]::placeholder {
  display: block;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-style: italic;
}

footer form {
  font-size: 0;
}
footer form button {
  display: inline-block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900px;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #95e1d3;
  border: 2px solid transparent;
}

.right-footer {
  width: 450px;
  padding-top: 10px;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  width: 390px;
  vertical-align: center;
  padding-top: 23px;
}
footer p a {
  color: #f38181;
}
